# Tuples

In [1]:
empty_tuple = tuple()
print(type(empty_tuple))

<class 'tuple'>

In [3]:
lst = list() 
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
# Converting a list to a tuple
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
# Creating a tuple 
mixed_tuple = (1,"Hello World", 3.14,True)
print(mixed_tuple,type(mixed_tuple))

(1, 'Hello World', 3.14, True) <class 'tuple'>

In [11]:
# Accessing elements in a tuple 
print(numbers[2])
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

# Tuple Operations

In [2]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)

In [3]:
# Tuple Operations

# 1. Concatenated Tuple 
concatenated_tuple = t1+t2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
# Multiplication 
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# Immutable Nature of Tuples
Tuples are immutable , meaning their elements cannot be changed once assigned.

In [5]:
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Samad"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Samad', 3, 4, 5]

In [ ]:
t3 = (1,2,3,4,5)
print(type(t3))

<class 'tuple'>

In [ ]:
t3[2] = 54 # This will give error because we are trying to modify a tuple

TypeError: 'tuple' object does not support item assignment

# Tuple Methods

In [9]:
nums = (1,2,3,4,5,6,7)

In [ ]:
# count() & index()
print(nums.count(3))
print(nums.index(7))

1
6

# Packing & Unpacking Tuples