# Assessment Tuple

In [ ]:
# 1. Create a tuple with the first 10 positive integers. Print the tuple.
nums = (1,2,3,4,5,6,7,8,9,10)
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
# 2. Print the first, middle, and last elements of the tuple created in Assignment 1.
first = nums[0]
last  = nums[-1]
middle = nums[len(nums)//2]

print(first)
print(middle)
print(last)

1
6
10

In [12]:
# 3. Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print("First 3 elements : ",nums[0:3])
print("Last 3 elements : ",nums[7:])
print("From index 2 to 5",nums[2:6])

First 3 elements :  (1, 2, 3)
Last 3 elements :  (8, 9, 10)
From index 2 to 5 (3, 4, 5, 6)

In [15]:
# 4. Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Element at 2nd row and 3rd columns : ",matrix[1][2])

Element at 2nd row and 3rd columns :  6

In [16]:
# 5. Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

t1 = (1,2,3)
t2 = (4,5,6)
concatenated_tuple = t1+t2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [23]:
# 6. Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

n1 = (1, 1, 2,3,3,3,3,4,5,5)

print("occurence of 3 : " , n1.count(3))
print(n1.index(3))

occurence of 3 :  4
3

In [24]:
# 7. Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

t3 = (1,2,3,4,5)
first , *middle , last = t3
print("First : ",first)
print("Middle : ",middle)
print("Last : ",last)

First :  1
Middle :  [2, 3, 4]
Last :  5

In [30]:
# 8. Convert a list of the first 5 positive integers to a tuple. Print the tuple.
tup = tuple([i for i in range(1,6)])
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [31]:
# 9. Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for rows in matrix: 
    for cols in rows : 
        print(cols,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [39]:
# 10. Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup = tuple([i for i in range(1,6)])
tup = list(tup)
tup.append(6)
tup = tuple(tup)
print(tup , type(tup))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [42]:
# 11. Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

s = "hello"
s = tuple(s)

joined_string  = ''.join(s)
print(joined_string)

hello