# Sets

In [1]:
# create a set 
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
new_set = set([1,2,3,4,5])
print(new_set,type(new_set))

{1, 2, 3, 4, 5} <class 'set'>

# Unique Nature of Sets

In [ ]:
new_set2 = set([1,2,2,2,3,5,5,5,4,5])
print(new_set2) # OUtput : {1,2,3,4,5} , with duplicates removed

{1, 2, 3, 4, 5}

# Set Operations

In [1]:
# Adding and Removing elements 
my_set = {1,2,3,5,4}

my_set.add(7)

In [7]:
print(my_set)

{1, 2, 4, 5, 7}

In [3]:
# Removing the elements from a set 
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [4]:
# Trying to remove elements that doesn't exist
my_set.remove(23)

KeyError: 23

In [8]:
# What if we don't want error if the element we are trying to delete is not present in the set

my_set.discard(111)
print(my_set)

{1, 2, 4, 5, 7}

In [ ]:
# Pop Method 
removed_element  = my_set.pop()
print(removed_element)

1

In [10]:
print(my_set)

{2, 4, 5, 7}

In [11]:
# Clear the set 
my_set.clear()
print(my_set)

set()

# Set Membership Test

Whether is an element is a member of set or not is what we basically check in this test

In [16]:
my_set = {1,2,3,4,5}
print(my_set)

print(3 in my_set)
print(10 in my_set)

{1, 2, 3, 4, 5}
True
False

# Mathematical Operations

In [28]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

# Union 
union_set = set1.union(set2)
print("Union : ",union_set)

# Intersection
intersection_set = set1.intersection(set2)
print("Intersection : ",intersection_set)

# Difference 
print("Difference : ",set1.difference(set2))

Set 1 :  {1, 2, 3, 4, 5, 6}
Set 2 :  {4, 5, 6, 7, 8, 9}
Union :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection :  {4, 5, 6}
Difference :  {1, 2, 3}

# Intersection Update operation

The intersection_update() method updates the original set by keeping only the elements that are common between the set and one or more other sets. 

It finds the common elements between the 2 sets , and then update the set 1 with those elements.

In [21]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

s1.intersection_update(s2) 
print(s1)

{4, 5, 6}

# Difference Update Operation

The difference_update() method removes all elements from the original set that are also present in another set. 

difference update removes  :
1. Elements present in set1 are also in set2 
2. Removes all the elements from set 
So basically removes the set2 and the intersection of set1 and set2 . The result generated is kept / updated in the set1

In [29]:
ss1 = {1,2,3,4,5,6}
ss2 = {4,5,6,7,8,9}

ss1.difference_update(ss2)
print(ss1)

{1, 2, 3}

# Symmetric Difference

"Keep only the unique stuff from both sets — throw away anything that’s common.”
Basically , it removes all the common elements from both the sets and shows the unique elements of set1 and set2

In [30]:
ssa = {1,2,3,4,5,6}
ssb = {4,5,6,7,8,9}

print(ssa.symmetric_difference(ssb))

{1, 2, 3, 7, 8, 9}

# Set Relationship Methods

These are also known as Set Comparison methods , These methods are used to compare the relationship between two sets — for example, whether one set is a subset or superset of another.

In [33]:
sa1 = {1,2,3}
sa2 = {3,4,5}

# issubset
print("Are all set1 elements present is set2 : ",sa1.issubset(sa2))

a = {1,2,3 , 4, 5}
b = {3,4,5}

# issuperset
print("Is set a superset of set b : ",a.issuperset(b))

Are all set1 elements present is set2 :  False
Is set a superset of set b :  True

# Remove Duplicates from a list

In [4]:
lst = [1,2,2,3,4,4,5] 
print(set(lst))

{1, 2, 3, 4, 5}

# Counting unique words in text

In [9]:
text = "In this tutorial we are discussing about sets"

# .split() splits the words into small chunks  , separated by spaces 
# the default separator is split in split() method
# the split() methods returns a list containing words in chunks

words = text.split() # ['In' , 'this' , 'tutorial' , 'we','are','discussing','about','sets']
print(words)

# convert list of words to set to get unique words 
unique_words = set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'are', 'sets', 'discussing', 'we', 'tutorial', 'this', 'In', 'about'}
8