# Assessment Sets

In [1]:
# 1. Create a set with the first 10 positive integers. Print the set.
st = {1,2,3,4,5,6,7,8,9,10}
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# 2. Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.
st.add(11)
st.remove(1)
print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [7]:
# 3.  Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

unionz = s1.union(s2)
intersectionz = s1.intersection(s2)
differencez = s1.difference(s2)
sym_differencez = s1.symmetric_difference(s2)


print("Union : ",unionz)
print("Intersection : ",intersectionz)
print("Difference : ",differencez)
print("Symmetric Difference : ",sym_differencez)

Union :  {1, 2, 3, 4, 5, 6, 8, 10}
Intersection :  {2, 4}
Difference :  {1, 3, 5}
Symmetric Difference :  {1, 3, 5, 6, 8, 10}

In [10]:
#  4. Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.
squares = {x**2 for x in range(1,11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:

# 5. Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.
evens = {x for x in st if x%2==0}
print(evens)

{2, 4, 6, 8, 10}

In [13]:
# 6. Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
sset = {1,1,1,2,2,2,2,2,2,3,3,4,5,5,5,5,5,5,5,5}
sset = set(sset)
print(sset)

{1, 2, 3, 4, 5}

In [16]:
# 7. Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

g = {1,2,3,4,5}
h  = {1,2,3}

print("Is h subset of g : ",h.issubset(g))
print("Is g superset of h : ",g.issuperset(h))

Is h subset of g :  True
Is g superset of h :  True

In [19]:
# 8. Create a frozenset with the first 5 positive integers. Print the frozenset.
fsz = frozenset([1,2,3,4,5])
print(fsz)
print(type(fsz))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [24]:
# 9. Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

sw1 = {1,2,3,4,5}
sw1 = list(sw1)
sw1.append(6)

sw1 = set(sw1)
print(sw1)

{1, 2, 3, 4, 5, 6}

In [28]:
# 10. Create a dictionary with set keys and integer values. Print the dictionary.
d = {
    frozenset([1,2]) : 54,
    frozenset([3,4]) : 56, 
    frozenset([5,8]) : 69
}
print(d)

{frozenset({1, 2}): 54, frozenset({3, 4}): 56, frozenset({8, 5}): 69}

In [31]:
# 11. Create a set and iterate over the elements, printing each element.
t = {x for x in range(1,21)}
print(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [33]:
# 12. Create a set and remove elements from it until it is empty. Print the set after each removal.
zet = { x for x in range(1,11,1)}

while zet: 
    zet.pop()
print(zet)

set()

In [35]:
# 13. Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

one  = {1,2,3,4,5,"a","b","c"}
two = {"a","b","c",6,7,8,9,10}

one.symmetric_difference_update(two)
print(one)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [37]:
# 14.  Create a set and test if certain elements are present in the set. Print the results.
three = {1,2,3,54,65,7,4,578,776,45}

print("Is 33 present in set : ", 33 in three)
print("Is 45 present in set : ", 45 in three)

Is 33 present in set :  False
Is 45 present in set :  True

In [39]:
# 15. Create a set containing tuples, where each tuple contains two elements. Print the set.
gt = {(1,2),(3,4),(5,6)}
print(gt)
print(type(gt))

{(1, 2), (3, 4), (5, 6)}
<class 'set'>