# Standard Library

In [1]:
import array as ar 
arr = ar.array('i',[1,2,3,4,5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [2]:
import math as m 
print(m.sqrt(16))
print(m.pi)

4.0
3.141592653589793

In [6]:
import random as rand
print(rand.randint(1,20))
print(rand.choice(["Samad","Ilaf","Usaid","James"]))

7
Ilaf

In [ ]:
# File and Directory Access 
import os

# getcwd() print the current working directory 
print(os.getcwd())

d:\Data_Analyst\My_Codes\Section_3_Python

In [ ]:
# Creates a new folder in currect directory 
os.mkdir('test.dir')

In [16]:
# Data Serialization 
import json 

data = {'name':'Samad','age':20}
print(type(data))

# dumps() convert dictionary --> json
# By default : whenever a response from API comes it comes in the form of string 
json_str = json.dumps(data)


 # Type : str
print(type(json_str),json_str)

# Now in order to convert back to dictionary for some operations 
# Then we can use .loads()

parsed_data = json.loads(json_str)
print(type(parsed_data), parsed_data)

<class 'dict'>
<class 'str'> {"name": "Samad", "age": 20}
<class 'dict'> {'name': 'Samad', 'age': 20}

In [ ]:
# CSV 
import csv 

with open('example.csv',mode='w',newline='') as file: 
    writer  = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Krish',32])

with open('example.csv',mode='r') as file: 
    reader = csv.reader(file)
    for  row in reader: 
        print(row)

In [22]:
# Date time 
from datetime import datetime,timedelta

current_time = datetime.now()
print(current_time)

yesterday = current_time-timedelta(days=1)
print(yesterday)

2025-07-15 20:58:32.264062
2025-07-14 20:58:32.264062

In [23]:
# Time 
import time 
print(time.time())
time.sleep(2)
print(time.time())

1752593343.9229662
1752593345.9286773

In [27]:
# Regular Expression 
import re 

pattern = r'\d+'
text = 'There are 123 apples 323437'
match = re.search(pattern,text)
print(match.group())

123