In [1]:
age=21
height=6.1
name="Samad"
is_student=True

In [2]:
print("age :",age)
print("Height:",height)
print("Name:",name)

age : 21
Height: 6.1
Name: Samad

In [ ]:
first_name = "Shaikh"
last_name = "Samad"

# Variable Types & Typecasting

In [ ]:
# Python is dynamically means , the type of data is determined during the runtime , we don't need to explicitly declare data type 
fname = "Samad"  # string 
age = 22 # int 
height2= 7.5
is_student_2 = True 


# Type checking 
print(type(fname))
print(type(age))
print(type(height2))
print(type(is_student_2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# Type conversion 
# int --> str 
samad_age  = 23  # Type int 
age_str = str(samad_age) # Type changed from int to str 
print(type(age_str))

<class 'str'>

In [ ]:
# str --> int 
age3 = '25' # Type str 
int_age3 = int(age3) # Type changed from str to int 
print(type(int_age3))

<class 'int'>

In [4]:
my_name = "Samad" 
int_my_name = int(my_name) # Can't do this because my_name is a complete string

ValueError: invalid literal for int() with base 10: 'Samad'

In [ ]:
# float --> int 
height3 = 7.2 
int_height3 = int(height3) 
print(int_height3) # Type changed from float to int

# Dynamic Typing

In [3]:
# Python allows the type of a variable to change as the program executes 
var = 10 
print(var , type(var))

10 <class 'int'>

In [2]:
var = "Hello " 
print(var,type(var))

Hello  <class 'str'>

In [1]:
var = 35.4 
print(var, type(var))

35.4 <class 'float'>

# User Input in Python

In [4]:
user_age = input("Enter your age : ")
print(user_age,type(user_age)) # Type of user_age is string

45 <class 'str'>

In [5]:
# Whenever we take any input from a user it is parsed as a string always 
user_age2 = int(input("Enter your age : "))
print(user_age2,type(user_age2))

21 <class 'int'>

# Simple Calculator Application

In [6]:
num1 = int(input("Enter a number : "))
num2 = int(input("Enter another number : ")) 

sum = num1+num2
difference = num1-num2
product = num1*num2 
division = num1/num2

print("Sum : ",sum)
print("Differencee : ",difference)
print("Product : ",product)
print("Division : ",division)

Sum :  15
Differencee :  5
Product :  50
Division :  2.0